#NODE_ENV=production
KEYSTONE_DEV=true
COOKIE_SECRET=longRandomString
MONGO_URI=mongodb://localhost/crewing
MAIL_HOST=smtp.example.com
MAIL_USER=user
MAIL_PASS=password
PORT=3000
#GA_PROPERTY
#GA_DOMAIN
