extends layouts/base

block content
   p Hi #{name},
   p thanks for your interest in working with us.
   p Now please follow this link to create your profile:
   a(href=link)= link
   p You can always log in with this link – no password needed.
   p Please note that we need you to complete your profile to be able to match you with a CADUS mission.
   p Warm regards,
   p your CADUS Crewing Team
