@import "../../node_modules/elemental/less/elemental.less";
@import "../../node_modules/react-select/less/default.less";
@import "leaflet.less";
@import "react-datepicker.less";

html {
   font-size: 16px;
}

header {
  font-size: 24px;
  margin-bottom: 2rem;

  .Card {
      margin: 0;
      padding: 1rem;
   }
}

footer {
   margin-top: 2rem;
   text-align: center;
   color: #ccc;
}

.container {
   margin-left: auto;
   margin-right: auto;
   max-width: 64rem;
   padding-left: 1rem;
   padding-right: 1rem;
}

.box {
   padding: 1rem;

   .inner {
     max-width: 32rem;
     margin: 10vh auto;
     padding: 2rem;
     border-radius: .3rem;
     background-color: white;
     box-shadow: 0 2px 3px rgba(0, 0, 0, .075), 0 0 0 1px rgba(0,0,0,.1);
   }
}

.leaflet-container {
   height: 400px;
   width: 100%;
}


// Timeline

body .react-calendar-timeline {
   .rct-sidebar .rct-sidebar-header {
      background: transparent url(/images/logo.svg) 30% 40% no-repeat;
      background-size: 80%;
   }

   .rct-header .rct-label-group,
   .rct-header .rct-label.rct-label-only { // gray
      background-color: #e0e0e0;
      color: #333;
   }

   .rct-items .rct-item.available { // green
      background-color: #388e3c;
   }

   .rct-items .rct-item.expired { // orange
      background-color: #fb8c00;
   }

   .rct-items .rct-item.unavailable { // gray
      background-color: #eee;
      border-color: #757575;
      color: #757575;
   }
}

// Availabilities Settings

.settings-toggle {
  position: absolute;
  z-index: 1;
  height: 60px;
  width: 150px;
  padding-right: 7px;
  line-height: 60px;
  text-align: right;
  font-size: 30px;
  cursor: pointer;
}
